$colorSite: #F16D7F
$colorText: #222222
$colorProduct: #F26376
@mixin flex
    display: flex
    align-content: center
    justify-content: space-between
    align-items: center
@mixin flex__colum_center
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

@mixin font($weight , $size , $lh , $color)
    font-weight: $weight
    font-size: $size
    line-height: $lh
    color: $color

// transform($property) {
//   -webkit-transform: $property;
//   -ms-transform: $property;
//   transform: $property;
// }
// .box { @include transform(rotate(30deg)); }
*
    margin: 0
    padding: 0

body
    font-family: 'Lato', sans-serif
    font-style: normal

a
    text-decoration: none

span
    color: $colorSite

img
    max-width: 100%
ul
    list-style-type: none

.center
    padding-left: calc(50% - 570px)
    padding-right: calc(50% - 570px)

.header
    background: $colorText
    min-height: 75px
    @include flex
    &__left
        display: flex
        gap: 40px
        align-items: baseline
    &__right
        position: relative
        display: flex
        gap: 32px

/* 

    &__menu
        position: absolute
        top: 76px
        right: 232px
        display: none

    &__link_menu
        display: inline-block

.header__link_menu:hover
.header__menu
    display: block
    display: flex
    flex-direction: column
    @include font(400 , 14px  , 17px , #6F6E6E )
    background-color: #fff

.promo
    background: #F1E4E6
    padding-left: calc(50% - 800px)
    padding-right: calc(50% - 800px)
    display: flex
    &__right
        padding-left: 64px
    &__img
        width: 50%
    &__info
        border-left: 12px solid $colorSite
        margin-top: 48%
        padding-left: 16px
    &__title
        @include font(900 , 48px , 58px , $colorText )

    &__heading
        @include font(700 , 32px , 39px , $colorText )

.sale
    margin-top: 64px
    display: grid
    grid-template-columns: repeat(3, 1fr)
    gap: 30px
    &__item
        position: relative
        min-height: 250px
    &__item_big
        min-height: 180px
        grid-column: 1 / -1
    &__content
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        @include flex__colum_center
        opacity: 0.7
    &__content:hover
        opacity: 1
    &__text
        @include font(400, 16px, 19px , #FFFFFF )
    &__heading
        @include font(700 , 24px , 29px , $colorSite )

.product-box
    margin-top: 96px

.product-box__button
    display: flex
    justify-content: center
.product-box__text,
.product__text
    @include font(300 , 14px , 17px , #5D5D5D)

.product-box__title
    @include font(400, 30px, 36px, $colorText)
    text-align: center

.product-box__text_big
    font-weight: 400
    text-align: center

.product__text_hover
    color: #FFFFFF
    padding-left: 12px

.product
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr))
    gap: 30px
    margin-top: 48px
    justify-items: center

    &__item
        background-color: #F8F8F8
        max-width: 360px

    &__img
        position: relative

    &__img_hover
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        display: none
        background: rgba(58, 56, 56, 0.86)
        opacity: 0.86
        z-index: 3

.product__img:hover .product__img_hover,
.product__button
    display: block

    &
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        @include flex

        // display: flex
        // align-content: center
        // align-items: center
        justify-content: center

.product__link_cart
    display: block
    display: flex
    align-items: center
    border: 1px solid #FFFFFF
    padding: 12px

    &:hover
        box-shadow: 0 0 5px #ffffff

.product__info
    margin-top: 25px
    padding: 16px

.product__heading
    @include font(400, 13px, 16px, #000)
    padding-bottom: 16px

.product__price
    @include font(400, 16px, 19px, $colorSite )
    padding-top: 16px

.product__all
    @include font(400, 16px, 19px, $colorProduct )
    padding: 16px 40px
    margin-top: 48px
    border: 1px solid $colorProduct
    margin-bottom: 96px

    &:hover
        color: #FFFFFF
        background-color: $colorProduct

.quality
    background-color: #222224
    display: grid
    grid-template-columns: repeat(3, 1fr)
    align-content: space-around
    align-items: center
    gap: 30px
    min-height: 340px

    &__item
        @include flex__colum_center

    &__title
        @include font(400, 20px, 24px, #FBFBFB )
        margin-top: 28px
        margin-bottom: 16px

    &__text
        @include font(300, 14px, 17px, #FBFBFB)
        padding: 0 30px
        text-align: center

    &__link:hover
        opacity: 0.7

.sub
    background: url(img/subscribe.jpeg)
    background-repeat: no-repeat
    background-size: cover
    min-height: 448px
    display: grid
    grid-template-columns: 1fr 1fr
    align-content: center
    align-items: center

    &__left
        display: flex
        flex-direction: column
        align-items: center
        padding-right: 20%

    &__right
        display: flex
        flex-direction: column
        padding: 0 10%

    &__text
        @include font(400, 20px, 24px, #222224 )
        text-align: center
        margin-top: 30px

    &__title
        @include font(700, 24px, 40px, #222224)
        text-align: center

    &__heading
        @include font(400, 18px, 30px, #222224)
        text-align: center
        margin-bottom: 32px

    &__form
        display: flex
        justify-content: center
        align-items: stretch
        height: 48px

    &__email
        background-color: #E1E1E1
        border-radius: 50px 0 0 50px
        border: 0px
        font-weight: 400
        font-size: 14px
        color: #222224
        opacity: 0.67
        padding: 8px 64px 8px 20px

    &__subcribe
        background-color: $colorProduct
        padding: 16px
        border: 0px
        border-radius: 0 50px 50px 0
        font-weight: 400
        font-size: 14px
        color: #FFFFFF

    &__subcribe:hover
        opacity: 0.7

.footer
    min-height: 80px
    background: #222224
    @include flex

    &__left
        @include font(400, 16px, 19px, #FBFBFB )

    &__social
        display: flex
        gap: 8px

    &__link
        color: #000000
        background-color: #FFFFFF
        display: flex
        align-items: center
        width: 32px
        height: 32px
        justify-content: center

    &__link:hover
        color: #FFFFFF
        background-color: $colorProduct

.fa-facebook:before
    content: "\f39e"

.fa-instagram:before
    content: "\f16d"

.fa-pinterest-p:before
    content: "\f231"

.fa-facebook:before
    content: "\f099"

.arrivals
    background-color: #F8F3F4
    display: flex
    align-items: center
    justify-content: space-between
    min-height: 148px

    &__title
        @include font(400, 24px, 29px, $colorSite )

    &__menu
        list-style-type: none
        display: flex

    &__list::before
        content: "/"
        color: #636363

    &__list:first-child::before
        content: none

    &__link
        @include font(300, 14px, 17px, #636363 )
        padding: 4px
        &:hover
            color: $colorSite

    &__list:last-child .arrivals__link
        font-weight: 700
        color: $colorSite

.filter-box
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    gap: 30px

    &__left
        position: relative

    &__right
        position: relative

.filter
    position: absolute
    top: 40px
    width: 330px
    background-color: #ffffff
    z-index: 3
    padding: 12px 16px 0

    &__menu
        list-style-type: none
    &__list
        padding-left: 10px
    &__link
        @include font(400, 14px, 17px, #6F6E6E )
        padding: 12px
        display: block
        &:hover
            color: $colorSite
    &__summary
        padding-bottom: 24px
    &__summary_in
        border-left: 5px solid $colorSite
        padding: 12px
        border-bottom: 1px solid #EBEBEB
        margin-bottom: 18px

.trending
    position: absolute
    top: 52px
    background-color: #ffffff
    z-index: 3

.size
    position: absolute
    top: 52px
    left: 160px
    background-color: #ffffff
    z-index: 3
    &__list
        padding: 10px 0 10px 10px
        @include font(400, 14px, 16px, #6F6E6E)
        display: flex
        align-items: center
    &__menu
        width: 80px
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
        margin-top: 5px
    &__input
        margin-right: 9px

.price
    position: absolute
    top: 52px
    left: 238px
    background-color: #ffffff
    z-index: 3

details[open]>summary 
    color: $colorSite

summary
    display: block

summary::-webkit-details-marker
    display: none
.filter[open]
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21)
.filter__summary::after
    content: url(img/filter.svg)

details[open] > .filter__summary::after
    content: url(img/filter-red.svg)

.page
    margin-top: 48px
    margin-bottom: 96px
    display: flex
    justify-content: center
    &__menu
        padding: 12px 16px
        list-style-type: none
        display: flex
        gap: 16px
        border: 1px solid #EBEBEB
    &__link
        @include font(300, 16px, 19px, #EBEBEB )
        &:hover
            color: $colorSite
        &_active
            color: $colorSite

    &__list:first-child &__link
        color: #000000
        &:hover
            color: $colorSite

    &__list:last-child &__link
        color: #000000
        &:hover
            color: $colorSite
